
body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 100px;
}
header{
    width: 100%;
    height: 10vh;
    /* position: relative; */
    object-fit: cover;
    background-color: white;

}
a{
    text-decoration: none;
}
a :hover{
    color: #3b82f6;
}
.map{
    display: flex;
    gap: 5px;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 8px 16px;
}
.map i{
    color: #3b82f6;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    font-size: 14px;


}

.nav-bar {
    display: flex;
    gap: 32px;
    color: black;
    align-items: center;
}
.nav-bar a{
    color: black;
}
li{
    list-style: none;
}
.hero{
    max-width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(./public/image1.jpeg);
    background-size: cover;



}
.hero h1{
    color: white;
    font-size: 56px;
}

.form{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    gap: 16px;
    border: 1px solid gray;
    background-color: #f7f7f8;
    padding: 16px;

    
}
.form-items{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #f7f7f8;
    padding: 0px 8px;
    border-radius: 8px;
    border: 1px solid gray;
}
.form-items input{
    width: 100%;
    padding: 16px;
    outline: none;
    border: transparent;
    
}
.Guests {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.travelers {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
button{
    padding:9px 20px ;
    border-radius: 105px;
    background-color: #191e38 ;
    color: white;
    font-size: 18px;
    border: none;


}
button :hover{
    color: #9ca3af;
}

.part1{
    margin-top: 48%;
    padding-inline: 80px;

}
.travel-cards{
display: flex;
gap: 16px;
}

.travel-card{
    flex: 1;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid gray;
}

.Kigali{
    padding: 0px 16px;
}
.accomodation-cards{

    display: flex;
    gap: 16px;
    }
    
    .accomodation-card{
        position: relative;
        flex: 1;
        overflow: hidden;
        border-radius: 16px;
        border: 1px solid gray;
        background-image: url(./public/sliderImage.jpeg);
        background-size: cover;
    }
    
   .accomodation-card h1{
    position: absolute;
    bottom: 0px;
    left: 16px;
    padding: 0px 16px;
    color: white;
    font-size:large;
    }
    .Holiday-homes{
        margin-top: 4rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding-left: 3rem;
        flex: 1;
        overflow: hidden;
        border-radius: 16px;
        border: 1px solid gray;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.73)),url(./public/DE-Hero-Image_Balje.jpeg);
        background-position: center;
        background-size: cover;
        color: white;
        padding-right: 3rem;
    }
    .Holiday-homes h1{
        font-size:xx-large;
    }
    .Holiday-homes p{
        font-size: small;
    }
    .inspired {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
      
      .inspired h1 {
        margin-bottom: 2rem;
        font-size: 2rem;

      }
      
      .trips {
        display: flex;
        gap: 16px;

      }
      
      .trip1,
      .trip2 {
        display: flex;
        max-width: calc(50vw - 16px  - 80px);
        height: 90vh;
        flex-direction: column;
        justify-content: center; 
        flex: 1;

      }
      
      .trip1-frame{
        
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.73));
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        overflow: hidden;

      }
      .trip2-frame {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.73));
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
      }
      
      .trip1-text,
      .trip2-text {
        padding-top: 10px;
        text-align: start;
       }
       .trip1-text h4,
       .trip2-text h4
       {
        font-weight: bold;
       }
       .Advertise{
        margin-top: 4rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding-left: 3rem;
        flex: 1;
        overflow: hidden;
        border-radius: 16px;
        border: 1px solid gray;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.73)),url(./public/large.jpeg);
        background-position: center;
        background-size: cover;
        color: white;
        padding-right: 3rem;
    }
    .Advertise h1{
        font-size:xx-large;}